ul.shopify-tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px solid #d4d4d4;
}
ul.shopify-tabs > li {
  background: none;
  color: #333;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  position: relative;
}
ul.shopify-tabs > li.current-tab {
  background: #fff;
  color: #333;
}
.shopify-tab-content {
  display: none;
  background: #fff;
  padding: 15px;
}
.shopify-tab-content.current-tab {
  display: block;
}

.shopify-tabs li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #831825;
  display: none;
  width: 100%;
}
.shopify-tabs li.current-tab:after {
  display: block;
}
.shopify-tab-content .title {
  margin: 0;
  padding: 20px 10px;
  border-top: 1px solid #d4d4d4;
}
@media screen and (min-width: 750px) {
  .shopify-tab-content {
    display: none;
  }
}
@media screen and (max-width: 749px) {
  .shopify-tab-content {
    display: block !important;
  }
  .block {
    display: none;
  }
  .shopify-tab-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .block {
    padding-left: 10px;
    padding-bottom: 20px;
  }
}

.toggler:after {
  content: "\002B";
  color: #a02525;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 20px;
}
.active:after {
  content: "\2212";
  color: #a02525;
}
